/*Counsidere sharing with friends if you like it :) */

*::before, *::after{
    box-sizing: border-box;
  }
  
  .nav-wrapper{
    position: relative;
    height: 100%;
    font-family: "Trebuchet MS" , Arial;
    text-transform: uppercase;
  }
  .nav-wrapper::before,
  .nav-wrapper::after{
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
    background-color: #EAFBFF;
  }
  .nav-wrapper::after{
    background-color: #208FF9;
  }
  
  .nav-wrapper nav{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .navigation{
    max-width: 500px;
    background-color: rgb(236, 236, 236);
    padding: 0 15px;
    line-height: 3;
    display: flex;
    align-items: center;
  }
  .nav-wrapper ul{
    display: flex;
    list-style: none;
    width: 0;
    overflow: hidden;
    transition: .4s cubic-bezier(.77,0,.18,1);
  }
  .nav-wrapper.active ul{
    width: 420px;
    margin-right: 20px;
  }
  
  .nav-items a{
    color: #888;
    text-decoration: none;
    transition: .3s;
  }
  a:hover{
    color: #3C9DFB;
  }
  
  .nav-toggler{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 48px;
    padding: 14px 10px;
    cursor: pointer;
  }
  .nav-wrapper:not(.active) .nav-toogler{
    margin-left: -10px;
  }
  .nav-toggler::before,
  .nav-toggler::after{
    content: '';
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #3C9DFB;
    transition: .4s cubic-bezier(.77,0,.18,1);
  }
  .nav-toggler::after {
    margin-top: 10px;
  }
  .nav-wrapper.active .nav-toggler::before,
  .nav-wrapper.active .nav-toggler::after{
    position: absolute;
    top: 50%;
    background-color: #3C9DFB;
    transform: rotate(135deg);
  }
  .nav-wrapper.active .nav-toggler::after {
    transform: rotate(-135deg);
    margin-top: 0;
  }